body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(145, 145, 145);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
}

.done-true {
  text-decoration: line-through;
  color: green;
}

.done-false {
  color: red;
}

input:focus {
    outline-width: 0;
}

.archive-control {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 22px;
  line-height: 22px;
  padding: 5px 0px 5px 10px;
  margin-bottom: 50px;
  background: #ecf0f1;
}

ul {
  list-style: none;
  padding-left: 0;
  padding: 10px;
}
ul li {
  line-height: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-form {
  padding: 10px;
  text-align: center;
}

input[type="text"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  height: 30px;
  width: 100%;
  max-width: 400px;
}

input[type="submit"] {
  height: 30px;
  text-align: center;
  margin: 10px;
  width: 120px;
}

.pointer {
  cursor: pointer;
}
}
